<!DOCTYPE html>
<html>
  {% include 'partials/header.twig' %}
  <body>
    <!-- App root element -->
    <div id="app">
      {% block content %}
        <!-- Contenido específico de cada página -->
      {% endblock %}
      
      {# Banner #}
    </div>
    <!-- Path to Framework7 Library Bundle JS -->
  </body>
  <footer>
    {% include 'partials/footer.twig' %}
  </footer>
</html>
